body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 75px; top: 0; }
.lNav.row { top:75px; bottom:50px; width:120px; }
.body.row {left:120px; top: 75px; bottom: 50px; }
.footer.row { height: 50px; bottom: 0; }